name: Lint

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: RuboCop & Standard

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.4"
        bundler-cache: true
    - name: Run RuboCop
      run: bundle exec rake rubocop
    - name: Run Standard
      run: bundle exec rake standard
